<div class="card"
     *ngIf="vm$ | async as vm">
  <div class="card-header">
    {{vm.pageTitle}}
  </div>

  <div class="card-body">

    <div class="row">
      <div class="col-md-2">Name:</div>
      <div class="col-md-6">{{vm.product.productName}}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Code:</div>
      <div class="col-md-6">{{vm.product.productCode}}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Category:</div>
      <div class="col-md-6">{{vm.product.category}}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Description:</div>
      <div class="col-md-6">{{vm.product.description}}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Price:</div>
      <div class="col-md-6">{{vm.product.price|currency:"USD":"symbol"}}</div>
    </div>
    <div class="row">
      <div class="col-md-2">In Stock:</div>
      <div class="col-md-6">{{vm.product.quantityInStock}}</div>
    </div>

    <div class="table-responsive">
      <table class="table mb-0">
        <thead>
          <tr>
            <th>Supplier</th>
            <th>Cost</th>
            <th>Minimum Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supplier of vm.productSuppliers">
            <td>{{supplier.name }} </td>
            <td>{{ supplier.cost | currency:"USD":"symbol":"1.2-2" }}</td>
            <td>{{supplier.minQuantity }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div class="alert alert-danger"
     *ngIf="errorMessage">
  {{errorMessage}}
</div>
