<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class='card-body'
       *ngIf="products$ | async as products">
    <div class='list-group'>
      <button type='button'
              class='list-group-item'
              *ngFor='let product of products'
              [ngClass]="{'active': product?.id === (selectedProductId$ | async)?.id}"
              (click)='onSelected(product.id)'>
        {{ product.productName }} ({{ product.category }})
      </button>
    </div>
  </div>
</div>

<div class="alert alert-danger"
     *ngIf="errorMessage">
  {{errorMessage}}
</div>
