<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body"  *ngIf="vm$ | async as vm">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-3">
          <select class="form-control"
                  (change)="onSelected($event.target.value)">
            <option value="0">- Display All -</option>
            <option *ngFor="let category of vm.categories"
                    [value]="category.id">{{ category.name }}</option>
          </select>
        </div>
        <div class="col-2">
          <button type="button"
                  class="btn btn-outline-secondary"
                  (click)="onAdd()">Add Product</button>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table mb-0">
        <thead>
          <tr>
            <th>Product</th>
            <th>Code</th>
            <th>Category</th>
            <th>Price</th>
            <th>In Stock</th>
          </tr>
        </thead>
        <tbody *ngFor="let product of vm.products">
          <tr>
            <td>{{ product.productName }}</td>
            <td>{{ product.productCode }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.price | currency:"USD":"symbol":"1.2-2" }}</td>
            <td>{{ product.quantityInStock }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div class="alert alert-danger"
     *ngIf="errorMessage">
  {{ errorMessage }}
</div>
